			<div class="top-right2">
				<div>
					<ul>
                        <li><p>您好！&nbsp;{$user['user_name']}&nbsp;&nbsp;&nbsp;<img src="__PUBLIC__/Home/images/down.gif" alt="" /></p>
                            <div id="children">
                                <div class="arrow"></div>
                                <ul class="child">
                                    <li id="xu"><a href="{:U('Indent/rentItem')}" target="_blank">我的订单</a></li>
                                    <li id="xu"><a href="{:U('Indent/discount')}" target="_blank">我的资产</a></li>
                                    <li id="xu"><a href="{:U('Indent/personal')}" target="_blank">我的账户</a></li>
                                    <li><a href="__MODULE__/user/logout">退出登录</a></li>
                                </ul>
                            </div>
                        </li>
					</ul>
				</div>
			</div>