.wz{
	padding:10px;
	overflow:auto;}
.wzz{
	float:left;}
.wzz h1{
	font-size:14px;
	color:#333333;
	margin-top:15px;}
.wzr{
	float:left;
	margin-left:30px;}
.wzr h1{
	color:#666666;
	font-size:14px;
	margin-top:15px;}
.jsimg{
	margin-bottom:20px;}
.bts{
	margin-left:100px;
	padding-bottom:50px;
	margin-top:30px;}
.bts button{
	margin-right:40px;}