*{ 
	margin:0;
	padding:0;
	border:0;
	list-style: none;
	overflow: auto;
}
.top{
	background-color: black;
	width:100%;
	height:80px;
}
.top-left{
	float: left;
	width:200px;
	margin-left:100px;
}
.top-left img{
	margin-top:8px;
}
.top-right{
	float:left;
	margin-left:32px;
	padding-top: 30px;
}
.top-right li{
	float:left;
	padding-left: 15px;
	padding-right:15px;
}
.top-right a{
	text-decoration:none;
	font-family: "微软雅黑";
	font-size: 18px;
	color: white;
	font-weight: lighter;
}
.top-right2{
	float: right;
	font-family: "微软雅黑";
	font-size: 14px;
	color: white;
	font-weight: lighter;
	margin-right: 100px;
	margin-top: 30px;
}
.bottom{
	float:left;
	background-color: rgb(51,51,51);
	width:100%;
	height:316px;
}
.bottom-top{
	padding-left: 100px;
	width: 100%;
	height: 260px;
}
.bottom-aa{
	color: orange;
	text-decoration:none;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: lighter;
	margin-bottom: 5px;
}
.bottom-top ul{
	float: left;
	color: white;
	padding-left: 45px;
	padding-right:45px;
	margin-top: 45px;
}
.bottom-top ul li{
	margin-top: 13px;
	font-family: "微软雅黑";
}
.bottom-right{
	width: 30%;
	height: 150px;
	float: right;
	margin-top: 75px;
}
.bottom-right img{
	padding-left: 6px;
}
.bottom-right h4{
	color: orange;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: lighter;
	margin-top:13px;
}
.bottom-bottom{
	border-top-width: 1px;
	border-top-color: rgb(86,86,86);
	border-top-style: solid;
	text-align: center;
	margin-left: 100px;
	width:1150px;
}
.bottom p{
	color: white;
	text-align: center;
	padding-top: 18px;
	font-size: 16px;
	font-family: "微软雅黑";
}
.content{
	width:100%;
	background-color: white;
	margin:auto;
}
.pic{
	margin:30px 70px 0 70px;
	float:left;
}
#leftpic1{
	width:839px;
	height:485px;
	background-image: url(../images/pic01_1.jpg);
	float: left;
}
#leftpic1 h2{
	position:relative;
	font-family: "微软雅黑";
	font-size: 25px;
	color:white;
	padding-left:80px;
	padding-top:100px;
}
#leftpic1 p{
	position:relative;
	font-family: "微软雅黑";
	font-size: 15px;
	color:white;
	line-height: 250%;
	padding-left:80px;
	padding-top:30px;
}
#rightpic1{
	width:341px;
	height:485px;
	background-image: url(../images/pic02_1.jpg);
	float: right;
}
#rightpic1 h2{
	position:relative;
	font-family: "微软雅黑";
	font-size: 25px;
	color:white;
	padding-left:30px;
	padding-top:320px;
}
#rightpic1 p{
	position:relative;
	font-family: "微软雅黑";
	font-size: 15px;
	color:white;
	line-height: 250%;
	padding-left:30px;
	padding-top:10px;
}
#leftpic2{
	width:341px;
	height:485px;
	background-image: url(../images/pic03_1.jpg);
	float:left;
	margin-top:30px;
}
#leftpic2 h2{
	position:relative;
	font-family: "微软雅黑";
	font-size: 25px;
	color:white;
	padding-left:30px;
	padding-top:350px;
}
#leftpic2 p{
	position:relative;
	font-family: "微软雅黑";
	font-size: 15px;
	color:white;
	line-height: 250%;
	padding-left:30px;
	padding-top:10px;
}
#rightpic2{
	width:839px;
	height:485px;
	background-image: url(../images/pic04.jpg);
	float:right;
	margin-top:30px;
}
#rightpic2 h2{
	position:relative;
	font-family: "微软雅黑";
	font-size: 25px;
	color:white;
	padding-left:60px;
	padding-top:120px;
}
#rightpic2 p{
	position:relative;
	font-family: "微软雅黑";
	font-size: 15px;
	color:white;
	line-height: 250%;
	padding-left:60px;
	padding-top:30px;
}
.recommend{	
	float:left;
	margin-top: 40px;
}
#aa h2{
	font-family: "微软雅黑";
	font-size: 25px;
	text-align: center;
}
#aa p{
	font-family: "微软雅黑";
	font-size: 10px;
	text-align: center;
	padding-top:20px;
}
.product_display{
	float:left;
	margin-top:30px;
	margin-left:70px;
	margin-right: 70px;	
}
.product_display img{
	float:left;
	padding:0 10px 0 10px;
}
.rental_type{
	float:left;
	width:100%;
	height:400px;
	background-color:#EAEAEA;
}
.rental_type div{
	float:left;
	width:280px;
	height:340px;
	background-color:white;
	margin-top:30px;	
}
.rental_type h5{
	font-family: "微软雅黑";
	font-size:20px;
	padding-top:20px;
}
.rental_type img{
	padding-top:10px;
}
.rental_type p{
	padding-top:20px;
}
.rental_type button{
	width:200px;
	height:40px;
	margin-top:30px;
	background-color:white;
	border:1px solid orange;
	color:orange;
}
.rental_type a:hover button{
	background-color: orange;
	color:white;
}
#type1{
	margin-left:80px;
	text-align: center;
}
#type2{
	margin-left:20px;
	text-align: center;
}
#type3{
	margin-left:20px;
	text-align: center;
}
#type4{
	margin-left:20px;
	text-align: center;
}

