*{ 
	margin:0;
	padding:0;
	border:0;
	list-style: none;
}
.top{
	background-color: black;
	width:100%;
	height:80px;
}
.top-left{
	float: left;
	width:200px;
	margin-left:100px;
}
.top-left img{
	margin-top:8px;
}
.top-right{
	float:left;
	margin-left:32px;
	padding-top: 30px;
}
.top-right li{
	float:left;
	padding-left: 15px;
	padding-right:15px;
}
.top-right a{
	text-decoration:none;
	font-family: "微软雅黑";
	font-size: 18px;
	color: white;
	font-weight: lighter;
}
.top-right2{
	float: right;
	font-family: "微软雅黑";
	font-size: 14px;
	color: white;
	font-weight: lighter;
	margin-right: 100px;
	margin-top: 30px;
}
.bottom{
	background-color: rgb(51,51,51);
	width:100%;
	height:316px;
}
.bottom-top{
	padding-left: 100px;
	width: 100%;
	height: 260px;
}
.bottom-aa{
	color: orange;
	text-decoration:none;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: lighter;
	margin-bottom: 5px;
}
.bottom-top ul{
	float: left;
	color: white;
	padding-left: 45px;
	padding-right:45px;
	margin-top: 45px;
}
.bottom-top ul li{
	margin-top: 13px;
	font-family: "微软雅黑";
}
.bottom-right{
	width: 30%;
	height: 150px;
	float: right;
	margin-top: 75px;
}
.bottom-right img{
	padding-left: 6px;
}
.bottom-right h4{
	color: orange;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: lighter;
	margin-top:13px;
}
.bottom-bottom{
	border-top-width: 1px;
	border-top-color: rgb(86,86,86);
	border-top-style: solid;
	text-align: center;
	margin-left: 100px;
	width:1150px;
}
.bottom p{
	color: white;
	text-align: center;
	padding-top: 18px;
	font-size: 16px;
	font-family: "微软雅黑";
}
