*{ 
	margin:0;
	padding:0;
	border:0;
	list-style: none;
}
body{
	overflow:auto;
}
.top{
	background-color: black;
	width:100%;
	height:80px;
}
.top-left{
	float: left;
	width:200px;
	margin-left:100px;
}
.top-left img{
	margin-top:8px;
}
.top-right{
	float:left;
	margin-left:32px;
	padding-top: 30px;
}
.top-right li{
	float:left;
	padding-left: 15px;
	padding-right:15px;
}
.top-right a{
	text-decoration:none;
	font-family: "微软雅黑";
	font-size: 18px;
	color: white;
	font-weight: lighter;

}
a:hover{text-decoration:underline;}
.top-right2{
	float: right;
	font-family: "微软雅黑";
	font-size: 14px;
	color: white;
	font-weight: lighter;
	margin-right: 100px;
	margin-top: 30px;
}
.bottom{
	background-color: rgb(51,51,51);
	width:100%;
	height:316px;
}
.bottom-top{
	margin-left: 100px;
	height: 260px;
}
.bottom-left{
	width:70%;
	height:260px;
	float:left;
}
.bottom-aa{
	color: orange;
	text-decoration:none;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: lighter;
	margin-bottom: 5px;
}
.bottom-left ul{
	float: left;
	color: white;
	padding-left: 45px;
	padding-right:45px;
	margin-top: 45px;
}
.bottom-left ul li{
	margin-top: 13px;
	font-family: "微软雅黑";
}
.bottom-right{
	width: 10%;
	height: 150px;
	float: left;
	margin-top: 75px;
}
.bottom-right img{
	padding-left: 6px;
}
.bottom-right h4{
	color: orange;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: lighter;
	margin-top:13px;
}
.bottom-bottom{
	border-top-width: 1px;
	border-top-color: rgb(86,86,86);
	border-top-style: solid;
	text-align: center;
	margin-left: 100px;
	width:1150px;
}
.bottom p{
	color: white;
	text-align: center;
	padding-top: 18px;
	font-size: 16px;
	font-family: "微软雅黑";
}
/*尖角代码,尖角就是定义个width和height都为0的div，
然后给这个div添加一个n像素并且为实线的border，并设置四个border的颜色即可！
至于尖角是朝上、朝左、朝右还是朝下使用border-color控制的。*/
.arrow{
	width: 0;
	height: 0;
	border:solid 8px;
	border-color:rgba(0,0,0,0)  rgba(0,0,0,0)  rgba(255,255,255,255);
	position: relative;
	top: 0px;
	left: 40px;
}
#children{
	display: none;
}
.child{
	background-color: white;
	position:absolute;/*绝对定位，顺序堆叠，是菜单浮动到第二层*/
	z-index: 2;
	-moz-border-radius: 4px;      /* Gecko browsers圆角 */
    -webkit-border-radius: 4px;   /* Webkit browsers */
    border-radius:4px;            /* W3C syntax */
}

.child li{
	list-style-type: none;
	padding: 10px 5px;
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 35px;
	font-size:13px;
}
#xu{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: rgb(207,207,207);
}
.child li:hover{
	background-color: white;
}

.child li a{
	color: black;
	text-decoration: blink;
}
.show{display: block;}